.letters-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    overflow-y: scroll;
/*     overflow: hidden; */

/*             --he-bg-color: #c6bdbb; */
/*             --she-bg-color: #aacbeb; */
        --he-bg-color: #d8d8d8;
        --she-bg-color: #eeeeee;
    .dialog-list {
        color: #3c2e2e;
        padding: 10px;
        max-width: 600px;
        font-family: arial;
        filter: grayscale(100%);
        margin: auto;

        .dialog {
            margin-bottom: 10px;

            .bubbles {

                @media print {
                    page-break-inside: avoid;
                }

                .bubble {
                    border-radius: 4px 4px 4px 0;
                    margin-top: 10px;
                    padding: 10px;
                    margin-left: 50px;
                    position: relative;

                    &::first-child {
                        margin-top: 0;

                        &.has-timestamp {
                            margin-top: 30px;
                        }
                    }

                    &.has-timestamp {
                        margin-top: 30px;

                        .timestamp {
                            position: absolute;
                            top: -20px;
                        }
                    }

                    p {
                        margin: 0;
                    }

                    .avatar {
                        position: absolute;
                        display: block;
                        width: 30px;
                        height: 30px;
                        left: -50px;
                        bottom: 0;
                        border-radius: 15px;
                        background-size: cover;
                        background-position: center;
                        filter: grayscale(100%);
                    }

                    &.he {
                        background-color: var(--he-bg-color);

                        .avatar {
                            background-image: url('/assets/images/avatars/Rybys1.webp');
                        }
                    }

                    &.she {
                        background-color: var(--she-bg-color);

                        .avatar {
                            background-image: url('/assets/images/avatars/Ptácis1.webp');
                        }

                        &::after {
                            border-right: 20px solid var(--she-bg-color);
                        }
                    }

                    &::after {
                        position: absolute;
                        bottom: 0px;
                        left: -19px;
                        border-right: 20px solid var(--he-bg-color);
                        border-top: 20px solid transparent;
                        content: "";
                    }

                    img {
                        max-width: 100%;
                    }

                }
            }

            .footer {
                text-align: center;
                margin-left: 50px;
            }
        }
    }
}
