<div class="letters-wrapper">
    <div class="dialog-list">
        <div *ngFor="let letter of letters" class="dialog">
            <div class="header"></div>

            <div class="bubbles">
                <div *ngFor="let bubble of letter.bubbles" class="bubble {{ bubble.author }} {{ bubble.date ? 'has-timestamp' : '' }}">
                    <div *ngIf="bubble.date" class="timestamp">{{ bubble.date }}</div>
                    <p *ngFor="let line of bubble.textLines">{{ line }}</p>
                    <p *ngIf="bubble.img.length > 0">
                        <img alt="" [src]="bubble.img" />
                    </p>
                    <span class="avatar"></span>
                </div>
            </div>

            <div class="footer">...</div>
        </div>
    </div>
</div>
