body {

    margin: 0;
    padding: 0;
    background-color: black;
    color: rgb(230, 230, 230);

    pre {
        display: none;
    }

    .main {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .highlight {
    /*     color: rgb(26, 115, 232); */
        color: rgb(250, 250, 255);
    /*     font-weight: bold; */
    }

    .ovece-view {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        font-size: 0.8vw;

        pre {
            position: absolute;

            &.active {
                display: block;
            }

            &.potok {
                left: -30vw;
                top: -10vw;
            }

            &.psice {
                left: -5vw;
                top: -7vw;
            }

            &.grass-a {
                left: -7vw;
                top: 12vw;
                color: rgb(100, 255, 130);
            }

            &.grass-b {
                left: -25vw;
                top: 18vw;
                color: rgb(100, 255, 130);
            }

            &.tree {
                left: 5vw;
                top: -24vw;
                color: rgb(140, 140, 140);
                font-size: 0.6vw;
            }

            &.leaves {
                left: -33vw;
                top: -24vw;
                color: rgb(140, 140, 140);
                font-size: 0.7vw;
            }
        }
    }
}
