.ovece-bar-wrapper {
    position: absolute;
    width: 100%;
    height: 1em;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        background: rgba(10, 10, 10, 0.8);

        .grass {
            display: inline-block;
            position: absolute;
            bottom: 0;
            margin-bottom: 0;
            pointer-events: none;
            font-size: 0.7em;
            font-weight: bold;
        }
    }

    .ovec {

        position: absolute;
        top: 0;

        pointer-events: none;

        .picture {
            display: none;
            height: 1em;
            width: auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &.sleeping .picture.sleeping,
        &.standing .picture.standing,
        &.running .picture.running,
        &.turning .picture.turning,
        &.running-back .picture.running,
        &.sleeping-back .picture.sleeping {
            display: inline-block;
        }

        &.running-back .picture.running,
        &.sleeping-back .picture.sleeping {
            transform: rotateY(180deg);
        }

        &.turning .picture.turning {
            margin-left: 0.3em;
        }
    }

}
