<div class="ovece-bar-wrapper" (click)="barClicked($event)" (mousemove)="grassLeft = $event.pageX">
    <div *ngFor="let ovec of ovece" class="ovec" [ngClass]="{'sleeping': ovec.sleeping, 'sleeping-back': ovec.sleepingBack, 'standing': ovec.standing, 'running': ovec.running, 'turning': ovec.turning, 'running-back': ovec.runningBack, 'missing': ovec.missing}" [style.left.px]="ovec.left">
        <div class="picture sleeping">
            <img alt="" src="/assets/images/sheep_eating.webp" />
        </div>
        <div class="picture standing">
            <img alt="" src="/assets/images/sheep_standing.webp" />
        </div>
        <div class="picture running">
            <img alt="" src="/assets/images/sheep_running.webp" />
        </div>
        <div class="picture turning">
            <img alt="" src="/assets/images/sheep_front.webp" />
        </div>
    </div>
    <pre class="grass" [style.left.px]="grassLeft - emPx">| | /
 \|/</pre>
</div>
