<div class="rybar-wrapper">
    <div *ngIf="fishRowsEnabled" class="fish-rows">
        <div class="fish"></div>
        <div class="fish"></div>
        <div class="fish"></div>
    </div>
    <div *ngIf="fishMerryEnabled" class="fish-merry">
        <div class="merry-inner">
            <div class="fish"></div>
            <div class="fish"></div>
            <div class="fish"></div>
        </div>
    </div>
</div>
