.rybar-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;

    .fish-rows {

        width: 0;
        height: 0;
        position: absolute;
        left: 50%;
        top: 50%;

        .fish {

            background: url("/assets/images/ouklej-tr.webp") no-repeat center;
            filter: invert(100%) contrast(200%);
            width: 20em;
            height: 9em;
            position: absolute;
            left: calc(50% - 10em);
            top: calc(50% - 4.5em);

            &:nth-child(1) {

                transform: translate(30vw, -10em);

                animation: flow01 8s infinite linear;
                @keyframes flow01 {
                  to {
                    transform: translate(-60vw, -10em);
                  }
                }
            }

            &:nth-child(2) {

                transform: rotateY(180deg) translate(28vw, 2em);

                animation: flow02 8s infinite linear;
                @keyframes flow02 {
                  to {
                    transform: rotateY(180deg) translate(-62vw, 2em);
                  }
                }
            }

            &:nth-child(3) {

                transform: translate(25vw, 13em);

                animation: flow03 14s infinite linear;
                @keyframes flow03 {
                  to {
                    transform: translate(-65vw, 13em);
                  }
                }
            }

        }

    }

    .fish-merry {

        width: 0;
        height: 0;
        position: absolute;
        left: 50%;
        top: 50%;

        animation: spinReverse 10s infinite linear;

        @keyframes spinReverse {
            from {
                transform: rotate(360deg) translate(4em, -4em);
            }
            to {
                transform: rotate(0deg) translate(4em, -4em);
            }
        }

        .merry-inner {

            animation: spin 10s infinite linear;

            @keyframes spin {
                from {
                    transform: rotate(0deg);
                }
                to {
                    transform: rotate(720deg);
                }
            }

            .fish {

                background: url("/assets/images/ouklej-tr.webp") no-repeat center;
                filter: invert(100%) contrast(200%);
                width: 20em;
                height: 9em;
                position: absolute;
                left: calc(50% - 10em);
                top: calc(50% - 4.5em);

                transform: translate(10em, 0em);

                &:nth-child(1) {

                    transform: rotate(30deg) translate(10em, 0em);
                }

                &:nth-child(2) {

                    transform: rotate(150deg) translate(10em, 0em);
                }

                &:nth-child(3) {

                    transform: rotate(270deg) translate(10em, 0em);
                }
            }

        }





    }

}
