<div class="root-wrapper" (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">
    <app-place *ngIf="showPlace" (onCloseArea)="showPlace = false"></app-place>
    <div #showPlaceTrigger *ngIf="!showLetters" class="show-place-trigger initial" [style.visibility]="showPlace ? 'hidden' : null" (click)="showPlace = true"></div>

    <app-love-letters *ngIf="showLetters"></app-love-letters>
    <app-photos *ngIf="showPhotos"></app-photos>
</div>
