.root-wrapper {

    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .show-place-trigger.initial {
        top: auto;
        bottom: 210vw;
        opacity: 1;
    }

    .show-place-trigger {
        position: absolute;
        width: 8vw;
        height: 8vw;
        background-color: #00cc87;
        right: 3vw;
        bottom: 3vw;
        top: auto;
        left: auto;
        cursor: pointer;
        opacity: 0.2;
        transition: bottom 0.4s linear, opacity 10s linear;

        &:hover {
            opacity: 1;
            bottom: 3.3vw;
            transition: bottom 0.1s linear, opacity 0.3s linear;
            background-image: url('/assets/images/myšička_bílá2.webp');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
}
