<div class="info-backdrop">
    <div class="info-area {{ shownInfoType !== '' ? shownInfoType + '-active info-active' : '' }}">

        <pre [ngClass]="{'icon': true, 'location': true, 'active': shownInfoType === 'location'}" (click)="shownInfoType = 'location'">
            <ng-container *ngTemplateOutlet="iconLocation"></ng-container>
        </pre>

        <pre [ngClass]="{'icon': true, 'program': true, 'active': shownInfoType === 'program'}" (click)="shownInfoType = 'program'">
            <ng-container *ngTemplateOutlet="iconProgram"></ng-container>
        </pre>

        <pre [ngClass]="{'icon': true, 'sleepover': true, 'active': shownInfoType === 'sleepover'}" (click)="shownInfoType = 'sleepover'">
            <ng-container *ngTemplateOutlet="iconSleepover"></ng-container>
        </pre>

        <pre [ngClass]="{'icon': true, 'transport': true, 'active': shownInfoType === 'transport'}" (click)="shownInfoType = 'transport'">
            <ng-container *ngTemplateOutlet="iconTransport"></ng-container>
        </pre>

        <pre [ngClass]="{'icon': true, 'presents': true, 'active': shownInfoType === 'presents'}" (click)="shownInfoType = 'presents'">
            <ng-container *ngTemplateOutlet="iconPresent"></ng-container>
        </pre>

        <div class="icon-arrow" title="Ouklej obecná">
            <img alt="arrow" src="/assets/images/ouklej-tr.webp" />
        </div>

        <div class="close-area" (click)="closeArea()">
            <pre>ukázat ovečky</pre>
        </div>

        <div *ngIf="shownInfoType !== ''" class="info">

            <div *ngIf="shownInfoType === 'location'" class="info-inner location">
                <h1>Místo</h1>
                <p>Obřad i večírek bude probíhat v <a href="{{ mapUrl }}" target="_blank">Rynarticích</a> u Jetřichovic na zahradě a ve stodole středně velké vesnické chalupy.</p>
                <p>Z toho vyplývá dresscode - na jehlové podpatky a slavnostní večerní róby to moc není, vezměte si něco, v čem se budete venku cítit pohodlně (a v čem večer případně nezmrznete). Co se barev týče, je to zcela na vás; pokud se bojíte módní policie, vězte, že se budeme mírně snažit ladit svatbu do bílé a modré (ale kdo ví, jak to nakonec dopadne).</p>
            </div>

            <div *ngIf="shownInfoType === 'program'" class="info-inner program">
                <h1>Program (přibližný)</h1>
                <p>Sobota 26.9.</p>
                <ul class="standard">
                    <li>
                        <span class="time">14:00</span>
                        <span class="text">Obřad na zahradě</span>
                    </li>
                    <li>
                        <span class="time">15:00</span>
                        <span class="text">Oběd</span>
                    </li>
                     <li>
                        <span class="time">16:30</span>
                        <span class="text">Svatební tanec</span>
                    </li>
                      <li>
                        <span class="time">17:00</span>
                        <span class="text">Ejchuchu na živou i reprodukovanou hudbu až do kuropění</span>
                    </li>
                </ul>
                <p>Podrobnější program bude k dispozici na místě</p>
                <p>&#160;</p>
                <p>
                    <span class="monospace">Aktualizace [COVID-19]:</span> Vypadá to, že se nás zatím žádná omezení netýkají, akce je venkovní. Dezinfekce budou k dispozici.
                    <br/>
                    <span class="monospace">Aktualizace [počasí]:</span> Podle předpovědi se velmi ochladí (asi na 9°C) a bude pršet. Na místě budou deštníky a párty stany, ale vemte si určitě teplé oblečení.
                </p>
            </div>

            <div *ngIf="shownInfoType === 'sleepover'" class="info-inner sleepover">
                <h1>Spaní</h1>
                <ul class="standard">
                    <li>
                        Ve vlastním stanu / v autě (preferovaná varianta)
                    </li>
                    <li>
                        V chalupě na své karimatce
                    </li>
                    <li>
                        V chalupě na posteli (ve větším pokoji s dalšími lidmi)
                    </li>
                    <li>
                        Na pohodlné posteli v ubytování poblíž místa svatby (menší a soukromější pokoje)
                    </li>
                </ul>
                <p>Prosíme vyplňte nám <a target="_blank" href="https://www.survio.com/survey/d/P4E6F1A3B2L9G1Q1R">dotazník</a> - opravdu. Děkujeme.</p>
            </div>

            <div *ngIf="shownInfoType === 'transport'" class="info-inner transport">
                <h1>Doprava</h1>
                <p>Přijeďte</p>
                <ul class="standard">
                    <li>
                        Autem. Míst k parkování je s trochou improvizace 42. Náhoda?
                    </li>
                    <li>
                        Na kole
                    </li>
                    <li>
                        <a href="#" (click)="$event.preventDefault(); transportShowBusDetail = !transportShowBusDetail">Vlakem a autobusem</a>
                        <div *ngIf="transportShowBusDetail" class="detail">
                            <div class="close" (click)="transportShowBusDetail = false">
                                <pre>x</pre>
                            </div>
                            <pre>
 <i class="bordered">sobota 26.9.</i>

 EC 178 Berliner
<span class="highlighted"> <strong>06:26</strong>  -  Praha, hl.nádr. </span>
 07:54  -  Děčín, hl.nádr.
<div class="walk"><span class="inner one"></span></div>
 Bus 512<strong>434</strong> 401
<span class="highlighted"> <strong>08:11</strong>  -  Děčín, hl.nádr., 2 </span>
 09:06  -  Jetřichovice, Rynartice, Pod zámečkem

--------------------------------------------------

 EC 176 Berliner
<span class="highlighted"> <strong>08:26</strong>  -  Praha, hl.nádr. </span>
 09:54  -  Děčín, hl.nádr.
<div class="walk"><span class="inner two"></span></div>
 Bus 512<strong>434</strong> 403
<span class="highlighted"> <strong>10:11</strong>  -  Děčín, hl.nádr., 2 </span>
 11:06  -  Jetřichovice, Rynartice, Pod zámečkem

--------------------------------------------------

 EC 174 Berliner
<span class="highlighted"> <strong>10:26</strong>  -  Praha, hl.nádr. </span>
 11:54  -  Děčín, hl.nádr.
<div class="walk"><span class="inner three"></span></div>
 Bus 512<strong>434</strong> 405
<span class="highlighted"> <strong>12:11</strong>  -  Děčín, hl.nádr., 2 </span>
 13:06  -  Jetřichovice, Rynartice, Pod zámečkem
                            </pre>
                        </div>
                    </li>
                </ul>
                <p>Pozice chalupy na <a href="{{ mapUrl }}" target="_blank">mapě</a></p>
            </div>

            <div *ngIf="shownInfoType === 'presents'" class="info-inner presents">
                <h1>Dary</h1>

                <p>Namísto obligátních dárků s mašlí prosíme o jídlo k průběžné kolektivní konzumaci (oběd zajišťujeme my). Budeme rádi, když si vyberete z následujícího seznamu kategorií a zadáte pokrm, který přivezete. Tady se hodí říct, že bychom chtěli hostinu zachovat převážně vegetariánskou (ryby nepočítáme, ty máme rádi na stránkách i na talíři). Pokud si z nějakého důvodu nedovedete svatbu bez masa představit, nebudeme vám zakazovat dovést si vlastní zásoby (k dispozici bude gril), při vymýšlení jídla na společný raut ale prosíme o respektování bezmasovosti.</p>

                <p>Pokud je to možné, přizpůsobte se prosím již existujícímu seznamu, aby se nám nesešlo pět bábovek.</p>

                <p>Zápis pokrmu funguje tak, že kliknete na tlačítko "Přidat", napíšete název jídla a své jméno (nebo jméno páru, např. "Otýlie &amp; Gustav") a uložíte. Pod tímto popisem se objeví kód, který lze použít pro případnou změnu položky. Pokud chcete dodatečně položku upravit a nevíte kód, kontaktujte nás, nejlépe telefonicky.</p>

                <p *ngIf="!loggedInClaimCode && !showLoginDialog">
                    Zde se můžete <a href="#" (click)="$event.preventDefault(); showLoginDialogFn()">přihlásit</a> kódem.
                </p>
                <p *ngIf="loggedInClaimCode">
                    Jste přihlášeni. <a href="#" (click)="$event.preventDefault(); logOut()">Odhlásit se</a><br/>
                    Kód: {{ loggedInClaimCode }}<br/>
                    Jméno: {{ loggedInClaimName }}
                </p>

                <div *ngIf="showLoginDialog" class="login-dialog">
                    <form action="#" (submit)="$event.preventDefault(); logIn()">
                        <div class="form-fields">
                            <div class="form-field">
                                <input #loginCodeInput type="text" name="claimCode" placeholder="Kód *" [(ngModel)]="loginDialogCode" />
                                <button type="submit">Přihlásit</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="item-categories">
                    <div *ngFor="let category of presentItemCategories" class="category">
                        <div class="category-title-wrapper">
                            <h3>{{ category.title }}</h3>
                            <span class="description" *ngIf="category.description">{{ category.description }}</span>
                        </div>

                        <div class="actions">
                            <button class="add" (click)="addItem(category)">+&#160;Přidat</button>
                        </div>

                        <ul>
                            <li *ngFor="let item of category.items" class="{{ item.editable ? 'editable' : '' }}">
                                <div *ngIf="!item.editing" class="collapsed" (click)="expandItem(item)">
                                    <span class="title">{{ item.title }}</span>
                                    <span class="description">{{ item.description || '&#160;' }}</span>
                                    <span class="claim-info">{{ item.claimName }} | {{ item.claimCreated | date:'d.M.yyyy' }}</span>
                                </div>
                                <div *ngIf="item.editing" class="expanded manage-present">
                                    <span *ngIf="!item.justCreated" class="close" (click)="item.editing = false">
                                        <pre>x</pre>
                                    </span>

                                    <form #saveForm action="#" name="update-item" (submit)="savePresent(item)">
                                        <div class="form-fields">
                                            <div class="form-field">
                                                <input type="text" name="title" placeholder="Název pokrmu *" [(ngModel)]="item.title" />
                                            </div>
                                            <div class="form-field">
                                                <textarea name="description" placeholder="Popis pokrmu (nepovinné)" [(ngModel)]="item.description"></textarea>
                                            </div>
                                            <div class="form-field">
                                                <input type="text" name="claimName" placeholder="Vaše jméno *" [(ngModel)]="item.claimNameNew" />
                                            </div>
                                        </div>

                                        <div class="btn-set">
                                            <button class="save">Uložit</button>
                                            <a *ngIf="!item.justCreated" href="#" (click)="removePresent(category, item)" class="remove-present">Smazat položku</a>
                                            <a href="#" (click)="$event.preventDefault(); cancelEditing(category, item)" class="cancel">Zrušit</a>
                                        </div>
                                    </form>

                                    <div class="info-message" *ngIf="item.errorMessage">
                                        <span class="error">{{ item.errorMessage }}</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="close" (click)="shownInfoType = ''">
                <pre>x</pre>
            </div>

        </div>

    </div>

    <app-pike-overlay></app-pike-overlay>

</div>

<ng-template #iconLocation>
         ''..                      ..cd.
       ,dkkxxdc.              .,:cdxodO;
        lc;llo.          ..;ldddodoloKXk'
        llooll.    ..,;lodddooooddook0OKd.
        lodlol;coddxxxddoooodddxdodxdlxk0o
       .lc;ollx0ddooodoodooddddxddkkocdkOO:
       .oldol:kkoddddddddddxddoxdxxoolodk00:
       .oddodlkdxxxxddoodddoodoxkkddoooook00;
       'l:cdoddddxdddddooolodx00kxdllldxdxO00:
     .lolldddoolodoooolollddO0O00kdodlxodkdkKKo.
   'loooooollloolooolollodk0OkxxxxxxxddxdoodkOKx.
 ,llllllooooddddddddddxxkOO0kdlxxxdkdxoxxO0kkdOXk,
.'.;0O000KKOKKKKKKK00XK0kxdxdddodxddoolxxkOdoo:''.
   ,kooodk0OOxk0KK0kkXKOxoxoxxdkdOdoldlookkooo'
  .:llcllookoldxxOkdd0kxdoxdxxddoxooodc::lxolo'
  .llllcoodxoloxdoood0xdoodddxdoodooldcc:lxodd'
  .odxdloocloodxddoddOdolododxddodooodlc:lxood,
  .oxKKooldxdxxxdoxxkxdlllookkxxxkoddkx::lxooo;
  .odxdxookxdxoldxllldlolloxxooolooxdoocclxood:
    ..',;;::ldddddoocxdxooodod:dxddxdxocloxdlc,
              ..',:ccoxdlolxoddldll:;,'...
                      .,clcc,'.
</ng-template>

<ng-template #iconProgram>
...    ..    ..    ..    ...    ..    ..    ..
...    ..   ',.    ..    ...    ..  .'..    ..
    ..    .ckk' ..    ...    ..    ,kk:  ..    ...
     .''''.ckk,.,,'''',,,''',,,'''.,kkc.',,'.
...  ;cccc.:kk;,cccccccccccccccccc''kkc.cccc:.
    .:cccc,,do.,cccccccccccccccccc;.dd'.cccc;  ...
     ;ccccc:,';cccccccccccccccccccc:,,;ccccc;
...  ;c''.....'....''.....''....''.....'...c:.
    .:;   ..    ..    ...    ..    ..    ..:;  ...
     ;:                                    :;
...  ;:..    ..   .cd.   ...    ..    ..   ;:.
   ..:;   ..;;  .lx:  .,;;,;;;;;;;;;;'   ..:;  ...
     ;:     .oxlx:.    ...............     :;
...  ;:..    .',   ...   ...    ..    ..   ;:..
    .:;   ..   .;,.   ...    ..    ..    ..:;  ...
     ;:       ckxxx.   ,;,,,;;;,,,;;;'     :;
...  ;:..    .,dkxl..  .................   ;:.
    .:;   ..    ..    ...    ..    ..    ..:;  ...
     ;:                                    :;
...  ;c....................................::.
    .....',,'..',,'...,,,...''''..',,'..',,'.  ...
</ng-template>

<ng-template #iconSleepover>
 c;,,'.'.'............'.'.
 ,xlc::c::::;;:;c;;:,:,:;,.
  odlcccccc::c:l:::;c;c;::.
  cxlllccl:lc:l:c::c:c:::;
  cxoocll:l:cl:lccc:l:c:c:
  :xllocco:c:;:,;,,,.,.'..
  :xo;..                                     ....
  ;xx;.....         ''........'''',,,;;;::cccccc;
  ,xxdc;'........  ckxllllllcccllllllllllllllcc.
  .ocoddddoc:,.....dxollooollloollllllccllccccc.
   '   .,cddxdxoc::xdlllllllccllllcccccllcccccl
           .'cdxxxdxocccclllllllcclllllcc;;,'c;
                .:lddlllllc::;,'....         ..
                   .o'
                    :
</ng-template>

<ng-template #iconTransport>
            .':l:'..                 .dx
                :              'c;:cxkc:
                .'          ..':k.;ld,
                 l,.........   ;kc;.
      .';:c::,'. ,x.         .l:.odccccclc,.
   .;c,..    .'dx,;:        cc.;oc;l      .;l:.
  ;l.        .. .:ol.     ;c..l;   .c        ;o,
 ,o.      .',.    :oc   'l.  o:     :d,.      ;o'
 cd     ..xddd.   .olx;o,   .o'     :lxc'     .d:
 ,o.    .oko..,:loxkO00k;,.  o:      ...      ,o'
  :o'   ..       ,d,..'.     .l;             ;o;
   .cd;.      .'l:.            ,c;..     .,cxc.
     .':lllllc;'                 .,clllool;'
</ng-template>

<ng-template #iconPresent>
                .';:,  k00K0KKXXK.
            ccx0KOkOXXd0KXXXX;XXXo...
           l  oXXdo00XXXNXXXOkXKK,   l
           kl,kXXXKNMMWXXXNWWNKXXX0o:k.
      .'....dXXXXX00KNNNNNNNXKKXXXXXKKXK0xl
      .0OxoOOdNWWWK00KKXXXXXKKKNWWWXKKKKXX0
       x00000KXXXXXXKKKXXXKKKKXXXXXKK000XKk
        00000KXXXXXKKKKKK0OxO0000KXXK000K:O
        x0000KKXXXXXXXXK000000000XXXK0000';
        o00000KXXXXXXXXKK0000000KXXX00000.
        cKKKKKKXXXXXXXXKK0000000KXXX00000
        ,KKKKKKXXXXKXXXKK0000000KNNX0000k
        .KKKKKKXXXKKKKKKK0000000XWWX0000o
         KKKKKKXXXKKKKKKK0000000XWNK0000c
         0KKKKKNXXXKKKKKK0000000NNXK0000'
          'lOKKWWWXKKKKKK0000000NXXKOo'
             .:0WWXKKKKKK0000000WWO'
                 ;okKKKKK00000x:;.
                    .;o0K00d;.
                        .'
</ng-template>
