.info-backdrop {

    width: 100%;
    height: 100%;
    position: relative;

    pre {
        display: block;
        margin: 0;
    }

    .monospace {
        font-family: monospace;
    }

    .info-area {
/*         background-color: #101010; */
        background-color: #e0e0e0;

        position: absolute;
        left: 5%;
        top: 5%;
        width: 90%;
        height: 90%;

        .close-area {
            font-size: 25px;
            position: absolute;
            left: 30px;
            bottom: 15px;
            cursor: pointer;
            color: #222222;
        }

        .icon {
            transform: scale(0.5) translate(-50%, -50%);
            position: absolute;
            cursor: pointer;
            color: #222222;
/*             text-shadow: 1px 1px 10px #222222; */
            text-shadow: 0px 0px 1px #222222;

            &.active {
                color: #000000;
/*                 text-shadow: 0px 0px 1px #222222; */
/*                 text-shadow: -45px 0px 2px #79b5d0; */
            }

            &.location {
                left: 10%;
                top: 20%;
                transition: 0.3s ease-out;
            }

            &.transport {
                left: 40%;
                top: 10%;
                transition: 0.3s ease-out;
            }

            &.sleepover {
                left: 60%;
                top: 80%;
                transition: 0.3s ease-out;
            }

            &.program {
                left: 50%;
                top: 40%;
                transition: 0.3s ease-out;
            }

            &.presents {
                left: 20%;
                top: 70%;
                transition: 0.3s ease-out;
            }
        }

        .icon-arrow {
            position: absolute;
            display: none;
            left: 130px;
            top: 0;

            img {
                height: 30px;
            }
        }

        &.info-active {

            .close-area {
/*                 display: none; */
            }

            .icon {

                text-shadow: 1px 1px 10px #222222;

                transform: scale(0.3) translate(-120%, -120%);

                &.active.location,
                &.active.transport,
                &.active.sleepover,
                &.active.program,
                &.active.presents {
                    left: 2%;
                    text-shadow: 0px 0px 1px #222222;
                }

                &.location {
                    left: 1%;
                    top: 1%;
                    transition: 0.3s ease-out;
                }

                &.transport {
                    left: 1%;
                    top: 20%;
                    transition: 0.3s ease-out;
                }

                &.sleepover {
                    left: 1%;
                    top: 40%;
                    transition: 0.3s ease-out;
                }

                &.program {
                    left: 1%;
                    top: 60%;
                    transition: 0.3s ease-out;
                }

                &.presents {
                    left: 1%;
                    top: 80%;
                    transition: 0.3s ease-out;
                }
            }

            .icon-arrow {
                display: inline-block;
            }

            &.location-active .icon-arrow {
                top: 5%;
                transition: 0.2s ease-out;
            }
            &.transport-active .icon-arrow {
                top: 22%;
                transition: 0.2s ease-out;
            }
            &.sleepover-active .icon-arrow {
                top: 42%;
                transition: 0.2s ease-out;
            }
            &.program-active .icon-arrow {
                top: 63%;
                transition: 0.2s ease-out;
            }
            &.presents-active .icon-arrow {
                top: 83%;
                transition: 0.2s ease-out;
            }
        }


        .info {
            position: absolute;
            width: 85%;
            height: 100%;
            right: 0;

            color: #222222;
/*             background-color: #eeeeee; */
            background-color: transparent;

            & > .close {
                font-size: 80px;
                position: absolute;
                right: 25px;
                top: 0;
                cursor: pointer;
            }

            .info-inner {
                margin-left: 25px;
                padding-right: 80px;
                font-family: arial;
                height: 100%;
                overflow: auto;

                h1 {
                    margin-bottom: 10%;
                }

                p, li {
                    font-size: 15pt;
                }

                ul.standard {
                    list-style: none;
                    padding-left: 0;

                    li {
                        padding-left: 30px;
                        position: relative;
                        margin-bottom: 5px;

                        &:before {
                            content: '';
                            width: 20px;
                            height: 20px;
                            position: absolute;
                            background-image: url('/assets/images/sheep.webp');
                            background-size: cover;
                            background-position: center;
                            left: 5px;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                }

                &.transport {

                    .detail {
                        position: relative;
                        background-color: #ffffff;
                        border: 1px dashed #000000;

                        .close {
                            font-size: 40px;
                            position: absolute;
                            right: 25px;
                            top: 0;
                            cursor: pointer;
                        }

                        pre {
                            margin-top: 15px;

                            .highlighted {
                                background-color: #33ffbb;
                            }

                            .bordered {
                                border: 1px solid #000000;
                            }

                            .walk {
                                margin-bottom: -16pt;
                                height: 40px;
                                position: relative;

                                @keyframes walkKeyframes {
                                    0%   { left: 0; }
                                    100% { left: 300px; }
                                }

                                .inner {
                                    position: absolute;
                                    display: block;
                                    width: 40px;
                                    height: 40px;
                                    background-image: url('/assets/images/sheep.webp');
                                    background-size: contain;
                                    transform: rotateY(180deg);

                                    &.one {
                                        animation: walkKeyframes 15s 1s linear infinite;
                                    }

                                    &.two {
                                        animation: walkKeyframes 15s 3s linear infinite;
                                    }

                                    &.three {
                                        animation: walkKeyframes 15s 5s linear infinite;
                                    }
                                }
                            }
                        }
                    }
                }

                &.presents {

                    .category {

                        margin-top: 40px;
                        border-top: 1px dashed #666;

                        .category-title-wrapper {
                            & > * {
                                display: inline-block;
                            }
                            .description {
                                color: #727272;
                            }
                        }

                        form {
                            display: inline-block;
                        }

                        .info-message {
                            float: right;

                            .error {
                                color: #e32f4c;
                            }
                        }

                        button, input[type="submit"] {
                            background: #808080;
                            border: 0;
                            padding: 8px 15px;
                            color: #ffffff;
                            font-family: monospace;
                            font-size: 12pt;
                            cursor: pointer;
                            box-shadow: 1px 1px 1px 1px #808080;

                            &:hover {
                                background: #909090;
                            }

                            &:active {
                                box-shadow: none;
                                transform: translateY(1px) translateX(1px);
                            }
                        }

                        &:first-child {
                            border-top: none;
                        }

                        &:last-child {
                            margin-bottom: 50px;
                        }

                        ul {
                            padding: 0;

                            li {

                                min-height: 71px;
                                padding: 10px;
                                list-style: none;
                                margin-bottom: 15px;
                                margin-right: 10px;
                                position: relative;

                                background-color: #aec0cf;

                                &.editable {
                                    background-color: #c1e2ec;
                                    cursor: pointer;
                                }

                                &:hover {
                                    .collapsed .claim-info {
                                        display: block;
                                    }
                                }

                                .collapsed {
                                    position: relative;

                                    .title {
                                        display: block;
                                        font-family: monospace;
                                    }

                                    .description {
                                        display: block;
                                        opacity: 0.8;
                                        clear: left;
                                    }

                                    .claim-info {
                                        display: none;
                                    }
                                }

                                .expanded {

                                    .close {
                                        float: right;
                                        margin-left: 20px;
                                        margin-right: 10px;
                                        font-size: 20pt;
                                    }

                                    .form-field {

                                        margin-bottom: 10px;

                                        input[type="text"] {
                                            width: 250px;
                                            height: 30px;
                                            padding: 1px 8px;
                                            border-radius: 5px;
                                        }

                                        textarea[name="description"] {
                                            width: 250px;
                                            height: 15px;
                                            padding: 8px 8px;
                                            border-radius: 5px;
                                            transition: height 0.2s ease-out;

                                            &:focus {
                                                height: 100px;
                                            }
                                        }
                                    }

                                    .btn-set {
                                        & > * {
                                            margin-right: 10px;
                                        }

                                        a {
                                            color: inherit;

                                            &.remove-present {
                                                color: #96464d;
                                                font-weight: bold;
                                            }
                                        }
                                    }

                                }

                            }

                        }
                    }

                }
            }
        }
    }
}
