<div class="pike-wrapper">
    <div class="show-pike" (click)="showPikeFn(!pikeShown)">
        <span *ngIf="pikeShown">schovat štiku do jiné dimenze</span>
        <span *ngIf="!pikeShown">zavolat štiku</span>
    </div>
    <div *ngIf="!pikeHideGood" #pike class="pike {{ pikeStarted ? 'started' : '' }} {{ pikeHide ? 'hide' : '' }}">
        <div class="pike-body"></div>
        <div class="pike-tail"></div>
    </div>
</div>
