.pike-wrapper {

    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;

    .show-pike {
        width: 100%;
        display: flex;
        justify-content: center;
        pointer-events: auto;
        font-family: monospace;

        span {
            padding: 5px 10px;
            border-radius: 0 0 5px 5px;
            background-color: #333333;
            /*color: #eeeeee;*/
            color: #79b5d0;
            text-shadow: 0px 0px 15px #ffffff;
            font-size: 12pt;
            cursor: pointer;
        }
    }

    .pike {

        position: absolute;
        width: 70%;
        height: 70%;

        filter: invert(77%) sepia(18%) saturate(976%) hue-rotate(165deg) brightness(89%) contrast(81%);

        left: 100%;
        top: 10%;

        .pike-body {

            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 87.43961352657004%;

            background-image: url('/assets/images/pike-body.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

        }

        .pike-tail {

            position: absolute;
            top: 0;
            left: 87.2%;
            height: 100%;
            width: 12.560386473429952%;

            background-image: url('/assets/images/pike-tail.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

        }

        @keyframes bodyHorizontalKeyframes {
            0%   { left: 100%; transform: rotateY(0deg); }
            25%  { left: -100%; transform: rotateY(0deg); }
            26%  { left: -100%; transform: rotateY(180deg); }
            50%  { left: 100%; transform: rotateY(180deg); }
            100% { left: 100%; }
        }

        @keyframes bodyVerticalKeyframes {
            0%   { top: -10%; }
            12.5%  { top: -10%; }
            13%  { top: 30%; }
            25%  { top: 30%; }
            50%  { top: 15%; }
            62.5%  { top: 15%; }
            63%  { top: 0%; }
            75%  { top: 0%; }
            100% { top: 0%; }
        }

        &.started {

            animation: bodyHorizontalKeyframes 40s 10s infinite, bodyVerticalKeyframes 80s 10s infinite;
            animation-timing-function: linear;


            .pike-tail {
                transform-origin: center left;

                @keyframes tailKeyframes {
                    0%   { transform: rotateY(-50deg); }
                    50%  { transform: rotateY(0deg); }
                    100% { transform: rotateY(50deg); }
                }

/*                 transition: transform 0.4s 1s ease-out; */

                animation: tailKeyframes 2s infinite;
                animation-timing-function: ease-out;



            }

        }

        &.hide {
            opacity: 0;
        }
    }
}
