.photos-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #000000;
    overflow: hidden;

    .photos {
        width: 100%;
        height: 100%;

        .locked-overlay {
            width: 100%;
            height: 100%;

            background: #ffffff;

            .centered-fish {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                pointer-events: none;
                background: center / contain no-repeat url('/assets/images/Ancistrus_occidentalis.webp') transparent;
            }

            .password-text {
                position: absolute;
                font-size: 3vw;
                font-family: monospace;
                color: black;
                top: 35%;
                left: 10%;
            }

            .unauthorized-text {
                display: none;
                position: absolute;
                font-size: 8vw;
                font-family: monospace;
                color: white;
                top: 5%;
                left: 5%;
            }

            input {
                position: absolute;
                border: 0.25vw solid gray;
                width: 18vw;
                height: 4vw;
                bottom: 30%;
                left: 1vw;
                padding: 0 1vw;
                font-size: 2vw;
            }

            &.trans1 {
                .password-text, input {
                    display: none;
                }
                .centered-fish {
                    background-size: 150%;
                    background-position-x: 0;
                }
            }

            &.trans2 {
                .password-text, input {
                    display: none;
                }
                .centered-fish {
                    background-size: 200%;
                    background-position-x: 0;
                }
            }

            &.trans3 {
                background: #000000;
                .password-text, input {
                    display: none;
                }
                .centered-fish {
                    background-size: 300%;
                    background-position-x: 0;
                    filter: invert(100%);
                }
                .unauthorized-text {
                    display: block;
                }
            }
        }

        .photo {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                border-radius: 1vw;
                margin-left: auto;
                margin-right: auto;
                display: block;
                image-orientation: from-image;
                object-fit: contain;
            }
        }

        .arrow {
            width: 10em;
            height: 4em;
            background: url("/assets/images/ouklej-tr.webp") no-repeat center;
            background-size: 100%;
            filter: invert(100%) contrast(200%);
            position: absolute;
            cursor: pointer;

            top: calc(50% - 2em);

            &.prev {
                left: 0;
            }

            &.next {
                transform: rotateY(180deg);
                right: 0;
            }

            @media screen and (orientation:portrait) {
                top: unset;

                &.prev {
                    bottom: 1em;
                    left: 0;
                }

                &.next {
                    bottom: 1em;
                    right: 0;
                    transform: rotateY(180deg);
                }
            }
        }

        &.hide-arrows {
            .arrow {
                display: none;
            }
        }

    }

    .counter {
        pre {
            display: block;
        }

        position: absolute;
        right: 1em;
        bottom: 0;
    }

    .tools {
        position: absolute;
        left: 1em;
        bottom: 1em;

        @media screen and (orientation:portrait) {
            display: none;
        }

        a {
            color: rgb(230, 230, 230);
            text-decoration: none;
            display: inline-block;
            width: 5em;
            height: 5em;

            transform: rotate(270deg);

            pre {
                display: block;
                pointer-events: none;
            }

            &.download-photo {
                pre {
                    animation: downloadOneAnim 2s infinite ease-out;
                    @keyframes downloadOneAnim {
                        from {
                            transform: translate(2em, 0);
                        }
                        to {
                            transform: translate(0em, 0);
                        }
                    }
                }
            }

            &.download-all {
                position: absolute;
                left: 5em;
                overflow: hidden;

                pre {
                    &:nth-child(1) {
                        animation: downloadAllAnim1 5s infinite linear;
                        @keyframes downloadAllAnim1 {
                            from {
                                transform: translate(0em, 0);
                            }
                            to {
                                transform: translate(-4.8em, 0);
                            }
                        }
                    }
                    &:nth-child(2) {
                        animation: downloadAllAnim2 2.5s infinite linear;
                        @keyframes downloadAllAnim2 {
                            from {
                                transform: translate(0em, 0);
                            }
                            to {
                                transform: translate(-4.8em, 0);
                            }
                        }
                    }
                    &:nth-child(3) {
                        animation: downloadAllAnim3 4s infinite linear;
                        @keyframes downloadAllAnim3 {
                            from {
                                transform: translate(0em, 0);
                            }
                            to {
                                transform: translate(-4.8em, 0);
                            }
                        }
                    }
                }
            }
        }
    }

    app-rybar {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        pointer-events: none;
    }

    app-ovece-bar {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }

}
