<div class="photos-wrapper">
    <div class="photos" [ngClass]="{'hide-arrows': !showArrows}">
        <ng-container *ngIf="unlocked; else lockedTemplate">
            <div class="photo" (click)="toggleRybar()">
                <img alt="" [src]="photoUrl" />
            </div>
            <div class="arrow prev" (click)="prev()"></div>
            <div class="arrow next" (click)="next()"></div>
        </ng-container>
        <ng-template #lockedTemplate>
            <div class="locked-overlay {{ lockedCss }}">
                <form (submit)="unlock()">
                    <input type="password" [(ngModel)]="password" name="pass">
                </form>
                <div class="password-text">heslo</div>
                <div class="unauthorized-text">ne</div>
                <div class="centered-fish"></div>
            </div>
        </ng-template>
    </div>
    <app-rybar *ngIf="showRybar"></app-rybar>
    <div *ngIf="showCounter" class="counter">
        <pre>{{ currentIndex+1 }}/{{ photoUrls.length }}</pre>
    </div>
    <div *ngIf="showTools" class="tools">
        <a [href]="photoUrl" download class="download-photo" title="Stáhnout fotku">
            <pre> __
/° \/
\__/\</pre>
        </a>
        <a href="/service/photo/static/all.7z?mode=base" download class="download-all" title="Stáhnout všechny fotky">
            <pre>&lt;&gt;&lt; &lt;&gt;&lt; &lt;&gt;&lt; &lt;&gt;&lt; &lt;&gt;&lt;</pre>
            <pre>&lt;&gt;&lt; &lt;&gt;&lt; &lt;&gt;&lt; &lt;&gt;&lt; &lt;&gt;&lt;</pre>
            <pre>&lt;&gt;&lt; &lt;&gt;&lt; &lt;&gt;&lt; &lt;&gt;&lt; &lt;&gt;&lt;</pre>
        </a>
    </div>
    <app-ovece-bar [percentage]="photoViewedPercentage" (percentageChange)="percentageChanged($event)"></app-ovece-bar>
</div>

